@model lostnfound.Models.ViewModel.CreateUserView

@{
    ViewBag.Title = "Account";
    ViewBag.leftString = "Preferences";
    ViewBag.rightString = "Save";
    ViewBag.leftStringLink = "#";
    ViewBag.rightStringLink = "#";
    ViewBag.SignOut = @Html.ActionLink("Signout", "Index", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Create a New Account</h1>
    </div>
</div>

<!--  SubTitle -->
<div class="row subtitle">
    <div class="col-12">
        <h4 class="reset lightWeight">
            Only administrators are allowed to create users from this panel
        </h4>
    </div>
</div>



<!-- User Section -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { })

    <div class="row ">
        <div class="col-6 ">
            <div class="row center">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "label" })
            </div>
        </div>

        <div class="col-6 ">
            <div class="row">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "danger" })
            </div>

            <div class="row">
                
                @Html.DropDownListFor(m => m.RoleID, new SelectList(Model.roleinfo, "RoleID", "Title"), "Select Role", new { @class ="field"})
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "danger" })
            </div>

            <div class="row create">
                <input type="submit" value="Create" class="btn" />
            </div>
        </div>
    </div>
}