@model lostnfound.Models.ViewModel.CreateUserView

@{
    ViewBag.Title = "Account";
    ViewBag.leftString = "Preferences";
    ViewBag.rightString = "";
    ViewBag.leftStringLink = "#";
    ViewBag.leftStringLink = "#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header -->
<div class="row">
    <div class="col-12">
        <h1 class="reset headWelcome">Create a new Account</h1>
    </div>

</div>

<!-- User Section -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { })

    <div class="row ">
        <div class="col-6 ">
            <div class="row center">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "label " })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Passowrd, htmlAttributes: new { @class = "label" })
            </div>

            <div class="row">
                @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "label" })
            </div>
        </div>

        <div class="col-6 ">
            <div class="row">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.Passowrd, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Passowrd, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.EditorFor(model => model.RoleID, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>

            <div class="row create">
                <input type="submit" value="Create" class="glyphicon-backward" />
            </div>
        </div>
    </div>
}