@model lostnfound.Models.ViewModel.CreateItemView

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Add A New Item</h1>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedByID, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedByID, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.CreatedByID, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.ItemTypeID, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemTypeID, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.ItemTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemStateID, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemStateID, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.ItemStateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FLDate, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FLDate, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.FLDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.CategoryInfo, "CategoryID", "Category"), "Select Category", new { @class = "field" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorID, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ColorID, new SelectList(Model.ColorInfo, "ColorID", "Color"), "Select Color", new { @class = "field" })
                @Html.ValidationMessageFor(model => model.ColorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationID, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.LocationID, new SelectList(Model.LocationInfo, "LocationID", "Location"), "Select Location", new { @class = "field" })
                @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
