<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | LostnFound</title>
    <link rel="stylesheet" type="text/css" href="~/Styles/Layout.css"/>
</head>
<body>

    <nav>
        <a href="#"><h1 id="logo">LostnFound</h1></a>
    </nav>

    <div class="row">

            <div class="col-6">
                <a href="#"><p class="reset leftString">@ViewBag.LeftString</p></a>
            </div>
            <div class="col-6">
                <a href="#"><p class="reset rightString">@ViewBag.RightString</p></a>
            </div>

    </div>
     
    <div class="row">
        <div class="container">
                
            @RenderBody()

        </div>
    </div>
   
    <footer>
        <p id="disclaimer">CrackTheCode &copy; @DateTime.Now.Year - CMPS253 Project</p>
    </footer>
   
</body>
</html>
