@model IEnumerable<lostnfound.Models.ViewModel.Items>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Dashboard", "Home", FormMethod.Get))
{
    <b>Search by:</b>
    @Html.RadioButton("searchBy", "Color")<text> Color</text>
    @Html.RadioButton("searchBy", "Category")<text>Category</text>
    @Html.RadioButton("searchBy", "Location")<text> Location</text>
    @Html.RadioButton("searchBy", "Type")<text> Type</text>
    <br />
    @Html.TextBox("Search");
    <input type="submit" value="Search" />
}
<h2>Dashboard</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reporter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FLDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Item", new { id = item.ItemID }) |
                @Html.ActionLink("Details", "Details", "Item", new { id = item.ItemID }, null) |
                @Html.ActionLink("Delete", "Delete", "Item", new { id = item.ItemID }, null)
            </td>
        </tr>
    }

</table>
