@model IEnumerable<lostnfound.Models.ViewModel.Items>

@{
    ViewBag.Title = "Dashboard";
    ViewBag.leftString = "Add Item";
    ViewBag.rightString = "Preferences";
    ViewBag.leftStringLink = "/Item/Create";
    ViewBag.rightStringLink = "/Preferences";
    ViewBag.SignOut = @Html.ActionLink("Sign Out", "SignOut", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Lost and Found Dashboard</h1>
    </div>
</div>

<!--  SubTitle -->
<div class="row subtitle">
    <div class="col-12">
        <h4 class="reset lightWeight">
            The Utimate Items Manager to track lost and found Items in the American University of Beirut.
        </h4>
    </div>
</div>

@using (Html.BeginForm("Dashboard", "Home", FormMethod.Get))
{
    <div class="row searchTitle">
        <h3> Search Items: </h3>
    </div>
    <div class="row searchFields">
        <div class="col-3">
            @Html.RadioButton("searchBy", "Color")<text> Color</text>
        </div>

        <div class="col-3">
            @Html.RadioButton("searchBy", "Category")<text>Category</text>
        </div>

        <div class="col-3">
            @Html.RadioButton("searchBy", "Location")<text>Location</text>
        </div>

        <div class="col-3">
            @Html.RadioButton("searchBy", "Type")<text>Type</text>
        </div>

    </div>
    
    <div class="row">
        <div class="col-12 searchFields">
            @Html.TextBox("Search")
            <input type="submit" value="Search" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reporter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FLDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Item", new { id = item.ItemID }) |
                @Html.ActionLink("Details", "Details", "Item", new { id = item.ItemID }, null) |
                @Html.ActionLink("Delete", "Delete", "Item", new { id = item.ItemID }, null)
            </td>
        </tr>
    }

</table>
