@model lostnfound.Models.ViewModel.UserLoginView

@{
    ViewBag.Title = "Home";
    ViewBag.leftString = "";
    ViewBag.rightString = "";
    ViewBag.leftStringLink = "#";
    ViewBag.rightStringLink = "#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Welcome to Lost and Found Dashboard</h1>
    </div>
</div>

<!--  SubTitle -->
<div class="row subtitle">
    <div class="col-12">
        <h4 class="reset lightWeight">
            Lost and Found Manager for the American University of Beirut
        </h4>
    </div>
</div>

<!-- Features Block -->
<div class="row">
    <!-- Feature One -->
    <div class="col-4">
        <h2 class="reset featureTitle"> Report an Item </h2>
        <div class="row images"><img src="~/images/signing.png" alt="Report"></div>
        <p class="reset features">
            A user friendly dashboard to keep track of lost and found items over the American University
            of Beirut.
        </p>
    </div>
    <!-- Feature Two -->
    <div class="col-4">
        <h2 class="reset featureTitle"> Find an Item </h2>
        <div class="row images"><img src="~/images/archive.png" alt="Find"></div>
        <p class="reset features">
            A fluent search functionality to find any reported items using different filters.
        </p>
    </div>
    <!-- Feature Three -->
    <div class="col-4">
        <h2 class="reset featureTitle"> Print the Report</h2>
        <div class="row images"><img src="~/images/collaboration.png" alt="Print"></div>
        <p class="reset features">
            Print out a detailed receipt as soon as an item is reported , delivered, or donated.
        </p>
    </div>
</div>

<!-- Log In Section -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row reset ">
        @Html.ValidationSummary(true, "", new { @class = "danger reset" })
    </div>
    <div class="row HomeLogIn">
        <div class="col-4">
            <div class="row">
                <div class="col-10 centerText">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "field", @placeholder = "Enter your email address ..." } })
                </div>
                <div class="col-2 centerText">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "danger reset " })
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="row">
                <div class="col-10 centerText">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "field", @placeholder = "Enter your password ..." } })
                </div>
                <div class="col-2 centerText">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "danger reset" })
                </div>
            </div>
        </div>

        <div class="col-4 centerText">
            <input type="submit" value="Log In" class=" btn" />
        </div>
    </div>
}
