@model lostnfound.Models.ViewModel.UserLoginView

@{
    ViewBag.Title = "Homepage";
    ViewBag.leftString = "";
    ViewBag.rightString = "";
    ViewBag.leftStringLink = "#";
    ViewBag.leftStringLink = "#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->

<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Welcome to Lost and Found Dashboard</h1>
    </div>
</div>

<!--  SubTitle -->
<div class="row subtitle">
    <div class="col-12">
        <h4 class="reset lightWeight">
            Manage lost and found items at the American University of Beirut
        </h4>
    </div>
</div>

<!-- Features Block -->
<div class="row">
    <div class="col-4">
        <h2 class="reset textTitle"> Report an Item </h2>
        <div class="row center"><img src="~/images/signing.png" class="images" alt="Report"></div>
        <p class="reset text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim posuere faucibus. In pharetra egestas ipsum ut tristique.
            Pellentesque quis vehicula erat, eget venenatis tortor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim posuere faucibus. In pharetra egestas ipsum ut tristique.
            Pellentesque quis vehicula erat, eget venenatis tortor.
        </p>
    </div>

    <div class="col-4">
        <h2 class="reset textTitle"> Find an Item </h2>
        <div class="row center"><img src="~/images/archive.png" class="images" alt="Find"></div>
        <p class="reset text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim posuere faucibus. In pharetra egestas ipsum ut tristique.
            Pellentesque quis vehicula erat, eget venenatis tortor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim posuere faucibus. In pharetra egestas ipsum ut tristique.
            Pellentesque quis vehicula erat, eget venenatis tortor.
        </p>
    </div>

    <div class="col-4">
        <h2 class="reset textTitle"> Manage Users</h2>
        <div class="row center"><img src="~/images/collaboration.png" class="images" alt="Manage"></div>
        <p class="reset text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim posuere faucibus. In pharetra egestas ipsum ut tristique.
            Pellentesque quis vehicula erat, eget venenatis tortor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim posuere faucibus. In pharetra egestas ipsum ut tristique.
            Pellentesque quis vehicula erat, eget venenatis tortor.
        </p>
    </div>
</div>

<!-- Log In Section -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

