@model lostnfound.Models.ViewModel.Item

@{
    ViewBag.Title = "Item";
    ViewBag.leftString = "Delete Item";
    ViewBag.rightString = "Back to Dashboard";
    ViewBag.leftStringLink = "#";
    ViewBag.rightStringLink = "/Home/Dashboard";
    ViewBag.SignOut = @Html.ActionLink("Sign Out", "SignOut", "Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Title -->
<div class="row title">
    <div class="col-12">
        <h1 class="reset">Delete Item</h1>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <dl>
            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.UserName)
            </dd>


            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.ReporterName)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.ReporterName)
            </dd>
            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.FLDate)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.FLDate)
            </dd>

            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.Image)
            </dd>
        </dl>
    </div>

    <div class="col-6">
        <dl>
            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.Color)
            </dd>

            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt class="detailLabel">
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd class="detailData">
                @Html.DisplayFor(model => model.Location)
            </dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12 images">
            <input type="submit" value="Delete" class="delete-btn" />
        </div>
    </div>
}

<div id="deleteItem"> </div>